
@{
    ViewData["Title"] = "CargarArchivo";
}
<div class="text-center">
    <h1>Carga del archivo correcta</h1>
    <form asp-action="Visualizer">
        <input type="submit" value="Ir a al listado" />
    </form>
</div>
<div>
    @{ 
        List<string> ERROR = ViewBag.errores;
        if(ERROR != null)
        {
            <p>@ERROR.Count</p><br />
            foreach(var errr in ERROR)
                {
                    <p>@errr</p>
                }
        }
    }
</div>


